<!DOCTYPE html>
<html>
<head>
 <title>WikiLeaks Cablegate Visualization</title>
 <link rel="stylesheet" href="svg.css" type="text/css" />
 <link rel="copyright" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" />
 <script src="svg.js" type="text/javascript"></script>
 <script type="text/javascript">
    var xw = {{ xw }};
    var xh = {{ xh }};
    var width = {{ width }};
    var height = {{ height }};
    var scale = 1.0;
 </script>
 <meta name="author" value="anonymous" />
 <meta name="description" 
  content="Graph visualization of the WikiLeaks cables.csv reference network." />
</head>
<body>
<div id="zoom">
    <button id="zoom-in">+</button>
    <button id="zoom-out">-</button>
    <svg 
        id="zoom-circle" 
        width="100" 
        height="100" 
        version="1.1" 
        class="level10"
        xmlns="http://www.w3.org/2000/svg">
        <g transform="translate(50,50) scale(1.0)">
            <circle x="0" y="0" r="35" />
        </g>
    </svg>
</div>
<section id="sidebar">
    <h1>WikiLeaks Cablegate</h1>
    <p>Graph visualization of the cables.csv reference network.</p>
    <p>Works best in Chrome or Safari (anything Webkit based).</p>
    <p>Underlined cables are not included in cables.csv.</p>
    <p>Node size and amount of rings indicate degree.</p>
    <p>First ring shows betweenness of nodes.</p>
    <p>Second ring shows authority of nodes.</p>
    <p>Line color indicates edge betweenness.</p>
    </p>
    <h2>Jump to <abbr title="Message Reference Number">MRN</abbr></h2>
    {% for v in vertices %}
      <h5><a class="{{ v.class }}" href="#{{v.label}}">{{ v.label }}</a></h5> 
      {% if v.timestamp|int > 0 %}<p class="date">{{ v.timestamp|formatts('%x') }}</p>{% endif %}
      {% if v.subject|length > 0 %}<p class="subject">{{ v.subject }}</p>{% endif %}
    {% endfor %}
    <h2>About</h2>
    <p>
        This dirty data porn was made with python, igraph, html5, css3, svg 
        and a little bit of javascript.
    </p>
    <ul>
        <li><a href="https://wlwardiary.github.com/cables2graph/">cables2graph</a></li>
        <li><a href="https://github.com/wlwardiary/cables2graph/">code</a></li>
        <li><a href="https://twitter.com/c2graph">contact</a></li>
        <li><a href="https://wikileaks.org/">WikiLeaks</a></li>
    </ul>
    <p>&copy; 2011-2012 by anonymous</p>
    <p>
        This HTML/SVG file: creative commons 
        <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">BY-NC-SA</a>
    </p>
    <p>cables2graph <a href="http://gnu.org/">GPLv3</a></p>
</section>
<section id="graph">
  <svg
    id="svg" 
    width="{{ width }}" 
    height="{{ height }}" 
    version="1.1" 
    xmlns="http://www.w3.org/2000/svg" 
    xmlns:xlink="http://www.w3.org/1999/xlink">

    <g transform="translate({{ xw }},{{ xh }}) scale(1.0)" id="frame">
        <g id="edges">
        {% for e in edges %}
            <line x1="{{e.x1}}" y1="{{e.y1}}" 
                  x2="{{e.x2}}" y2="{{e.y2}}" class="btwns{{ e.betweenness|int }}"/>
        {% endfor %}
        </g>
        <g id="vertices">
            {% for v in vertices %}
            <g transform="translate({{ v.x }} {{ v.y }})" 
                class="vertice {{ v.class }} degree{{ v.degree|int }} btwns{{v.betweenness|int }} authority{{ v.authority|int }}">
                <circle cx="0" cy="0" r="{{ 10 + v.degree|int }}" z-index="1" class="node" />

                {% if v.degree|int > 1 %}
                <circle cx="0" cy="0" r="30" class="deco1" z-index="-10" />
                {% endif %}

                {% if v.degree|int > 3 %}
                <circle cx="0" cy="0" r="50" class="deco2" z-index="-10" /> 
                {% endif %}

                {% if v.degree|int > 5 %}
                <circle cx="0" cy="0" r="70" class="deco3" z-index="-10" />
                {% endif %}

                {% if v.degree|int > 7 %}
                <circle cx="0" cy="0" r="90" class="deco4" z-index="-10" />
                {% endif %}

                {% if v.degree|int > 9 %}
                <circle cx="0" cy="0" r="110" class="deco5" z-index="-10" />
                {% endif %}
            </g>
            {% endfor %}

            {% for v in vertices %}
            <g transform="translate({{ v.x }} {{ v.y }})" 
                id="{{ v.label }}" 
                class="vertice {{ v.class }}">
                {% if v.timestamp|int > 0 %} 
                <text x="0" y="{{ -10 + (v.degree|int / 2) }}" class="date" z-index="1">
                    {{ v.timestamp|formatts('%x') }}
                </text>
                {% endif %}

                <text x="0" y="{{ 10 + (v.degree|int / 2) }}" class="label" z-index="1">
                {% if v.uri %} 
                    <a xlink:href="{{v.uri}}">{{ v.label }}</a>
                {% else %}
                    {{ v.label }}
                {% endif %}
                </text>
                {% if v.subject|length > 0 %}
                    <g class="subject"> 
                      <text x="-200" y="{{ 35 + (v.degree|int / 2) }}" z-index="10">
                        <tspan>{{ v.subject }}</tspan>
                      </text>
                    </g>
                {% endif %}
                {% if v.sentences %}
                    <g class="sentence"> 
                    {% for s in v.sentences %}
                    <text x="-200" y="{{ 30 + loop.index * 20 }}">
                        <tspan class="a1">{{ s.a1 }}</tspan>
                        <tspan class="rel">{{ s.rel }}</tspan>
                        <tspan class="a2">{{ s.a2 }}</tspan>
                    </text>
                    {% endfor %}
                    </g>
                {% endif %}
            </g>
            {% endfor %}
        </g>
    </g>
  </svg>
</section>
</body>
