<html>
<head>
    <link rel="stylesheet" href="jquery.tooltip.css">
    <style type="text/css">
        svg { background-color: rgb(55,55,55); }
        #vertices circle { 
          stroke: rgba(255,255,255,0.8); 
          stroke-width: 1; 
          fill: rgba(255,255,255,0.5); 
        }
        #vertices .red circle { 
          fill: rgba(255,0,0,0.5);   
        }
        #vertices .degree2 circle { stroke-width: 1.2; } 
        #vertices .degree3 circle { stroke-width: 1.4; } 
        #vertices .degree4 circle { stroke-width: 1.6; } 
        #vertices .degree5 circle { stroke-width: 1.8; } 
        #vertices .degree6 circle { stroke-width: 2.0; } 
        #vertices .degree7 circle { stroke-width: 2.2; } 
        #vertices .degree8 circle { stroke-width: 2.4; } 
        #vertices .degree9 circle { stroke-width: 2.6; } 
        #vertices .degree10 circle { stroke-width: 2.8; } 
        #vertices .degree11 circle { stroke-width: 3.0; } 
        #vertices .degree12 circle { stroke-width: 3.2; } 
        #vertices .degree13 circle { stroke-width: 3.4; } 
        #vertices .degree14 circle { stroke-width: 3.6; } 
        #vertices .degree15 circle { stroke-width: 3.8; } 
        #vertices .degree16 circle { stroke-width: 4.0; } 
        #vertices .degree17 circle { stroke-width: 4.2; } 
        #vertices .degree18 circle { stroke-width: 4.4; } 
        #vertices .degree19 circle { stroke-width: 4.6; } 
        #vertices .degree20 circle { stroke-width: 4.8; } 

        #vertices text { 
          text-anchor: middle; 
          font-size: 1em; 
          font-weight: normal; 
          font-family: sans-serif;
          fill: rgba(255,255,255,0.8); 
          text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 2px ;
        }
        #vertices text:hover {
          font-size: 1.4em;
          fill: rgba(255,255,255,1.0); 
          text-shadow: rgba(0, 0, 0, 1) 2px 2px 10px ;
        }
        #vertices .red text:hover {
          text-shadow: rgba(255, 0, 0, 1) 2px 2px 10px ;
        }

        #edges line { 
            fill: none;
            stroke-linejoin: round;
            stroke-width: 5; 
            stroke: rgba(255,255,255,0.4); 
            z-index: -1; 
        }
        
        #edges line:hover { 
            stroke-width: 10; 
            stroke: rgba(255,255,255,0.8); 
        }

    </style>
</head>
<body>
<svg width="{{ width }}" height="{{ height }}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<filter id="dropshadow" height="130%">
  <feGaussianBlur in="SourceAlpha" stdDeviation="5"/>
    <feOffset dx="3" dy="3" result="offsetblur"/> 
    <feMerge> 
      <feMergeNode/>
      <feMergeNode in="SourceGraphic"/>
   </feMerge>
</filter>

<g transform="translate({{ xw }},{{ xh }}) scale(0.9)">
    <g id="edges">
    {% for e in edges %}
        <line x1="{{e.x1}}" y1="{{e.y1}}" 
              x2="{{e.x2}}" y2="{{e.y2}}" />
    {% endfor %}
    </g>
    <g id="vertices">
        {% for v in vertices %}
        <g transform="translate({{ v.x }} {{ v.y }})" 
            class="{{ v.class }} degree{{ v.degree }}" id="{{ v.label }}">
            <circle cx="0" cy="0" r="10" style="filter:url(#dropshadow)" />
            {% if v.class == 'red' %}
                <text x="0" y="5">{{ v.label }}</text>
            {% else %}
                {% if v.timestamp %} 
                <text x="0" y="-16" class="date">
                    {{ v.timestamp|formatts }}
                </text>
                {% endif %}
                <text x="0" y="5" class="label">
                {% if v.uri %} 
                    <a id="{{ v.label }}" xlink:href="{{v.uri}}">{{ v.label }}</a>
                {% else %}
                   <span id="{{ v.label }}">{{ v.label }}</span>
                {% endif %}
                </text>
            {% endif %}
        </g>
        {% endfor %}
    </g>
</g>
</svg>
<script src="jquery-1.6.4.min.js" type="text/javascript"></script>
<script src="jquery.tooltip.pack.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
{% for v in vertices %}
    {% if v.class != 'red' %}
        $('#{{v.label}}').tooltip({ 
            bodyHandler: function() { 
                var tip='';
                {% if v.subject %}
                    tip+='<h3/>{{v.subject|e}}</h3>';
                {% endif %}
                {% if v.sentences %}
                    tip+='<ul>';
                    {% for s in v.sentences %}
                        tip+='<li><span class="a1">{{s.a1|e}}</span> <span class="rel">{{s.rel|e}}</span> <span class="a2">{{s.a2|e}}</span></li>';
                    {% endfor %}
                {% endif %}
                return tip;
        }, 
        showURL: false 
});
    {% endif %}
{% endfor %}
});
</script>
</body>
