<!DOCTYPE html>
<html>
<head>
 <title>WikiLeaks Cablegate Visualization</title>
 <link rel="copyright" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" />
 <link rel="stylesheet" href="visjs.css" type="text/css" />
 <script src="vis.js" type="text/javascript"></script>
 <script src="visjs.js" type="text/javascript"></script>
 <script type="text/javascript">
  var data = {
   nodes: {{ nodes }},
   edges: {{ edges }}
  };
 </script>
 <meta name="author" value="anonymous" />
 <meta name="description" 
  content="Graph visualization of the WikiLeaks cables.csv reference network." />
 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>
 <div id="graph"></div>
</body>
</html>
