/*
 *
 * GPLv3
 * 2014 by anonymous
 *
 */

body { 
    color: white;
    font-family: sans-serif;
    background-color: rgb(44,44,44); 
    margin: 0; padding: 0;
}

a { color: white; text-decoration: none; }
a:visited { color: rgb(200,200,200); }

#graph {
    width: 100%;
    height: 100%; 
}

